:root {
  --color-background: linear-gradient(
    135deg,
    #fbcfe8,
    #fde2e4,
    #fbd4e7,
    #fbe9e7
  );
  


  --color-text: #333333;

  --color-background-soft: #ffffff;
  --color-background-mute: #f2f2f2;
  --button-bg-color: #8da4b9;
  --button-hover-bg-color: #7b93a9;
}

.dark-theme {
  --color-background: #121212; 

  --color-text: #5a5858;

  --color-text-nav: #f0f0f0;

  --color-background-soft: #1e1e1e;
  --color-background-mute: #2a2a2a;
  --button-bg-color: #333333;
  --button-hover-bg-color: #555555;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: var(--color-text);
  background: var(--color-background);


  transition: background 0.5s, color 0.5s;
  line-height: 1.6;
  font-size: 15px;
}


