html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  padding-top: 80px; 
  transition: background 0.3s ease, color 0.3s ease;
}


body.dark-theme {
  background: var(--color-background) !important;
  color: var(--color-text) !important;
}

#app {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: var(--color-background-soft);
  color: var(--color-text);
  border: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

button {
  background-color: var(--button-bg-color);
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}
